<h1>Todas as Tasks</h1>
<ul class="task-list">
    {{#each tasks}}
    <li>
        <a href="/" class="title">{{this.title}}</a>
        <div class="actions">
            <a href="/" class="bi bi-check2"></a>
            <a href="/" class="bi bi-pencil-square"></a>
            <a href="/" class="bi bi-x-lg"></a>
        </div>
    </li>
    {{/each}}
</ul>